/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* move ul to the left */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  /*  the position: relative; property 
  is primarily used to establish a positioning context 
  for child elements that have position: absolute;.*/
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
